body, html{
    font-size: 12px;
    color: #333;
}
*{
    margin: 0;padding: 0;
}
li{list-style: none}
a{text-decoration: none}
/* header区域顶部导航 */
.page-head{
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}
.top{
    width: 100%;
    height: 31px;
    line-height: 31px;
    background-color: #3e3e3e;
    color: #bbb;
    font-size: 12px;
}
.top a{
    color: #bbb;
    text-decoration: none;
}
.top span{
    margin-right: 5px;
}
.type-area{
    width: 1090px;
    /* height: 31px; */
    margin: 0 auto;
}
.leftbox{
    float: left;
}
.rightbox{
    float: right;
}
.rightbox a{
    float: left;
    margin-right: 10px;
}

/*header区域 中间部分 logo 搜索框 购物车 */
.middle{
    width:1090px;
    height: 100px;
    margin: 0 auto ;
    position: relative;
}
.logo{
    position: absolute;
    top: 25%;
    left: 0;
}
.serch{
    width: 480px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -18px;
    border: 1px solid #323534;
    overflow: hidden;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.serch input{
    display: block;
    width: 100%;
    height: 32px;
    text-indent: 5px;
    overflow: hidden;
    background-color: #fff;
    outline: 0;
    border: 0;
}
.serch .submit {
    width: 32px;
    height: 32px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    color: #323534;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    outline: 0;
}
.cart {
    width: 110px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    margin-top: -18px;
}
.cart a {
    display: block;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f7f7f7;
    text-decoration: none;
}
.cart a .iconfont {
    font-size: 14px;
    color: #f04848;
    padding-right: 5px;
}
/* header部分下面的菜单导航区域 */
.nav{
    width: 1090px;
    height: 40px;
}
.manue li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    position: relative;
}
.manue a{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.nav .all {
    width: 160px;
    padding: 0;
    background-color: #f04848;
}
.all .iconfont {
    font-size: 15px;
    padding: 0 10px;

}
.nav .all a{
    color: #fff;

}
.nav .hot{
    display: block;
    width: 29px;
    height: 17px;
    position: absolute;
    top: -8px;
    right: 0;
    background:url(images/hot.png) no-repeat 0 0;
}

/* 中间部分 */
.bg-grey {
    background-color: #f5f5f5;
    overflow: hidden;
}
/* 当前位置 */
.position {
    padding: 18px 0;
    border-bottom: 1px solid transparent;
    position: relative;
    width: 1090px;
    min-height: 1px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
  
}
.position li{
    float: left;
    margin-right: 10px;

}
/* 分类 */
.classify {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 12px;
}
.classify li{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    position: relative;
    height: 38px;
    line-height: 38px;
}
.classify .first{
    display:inline-block;
    width: 100px;
    height: 38px;
    font-weight: 700;
    color: #555;
    text-indent: 20px;
    background-color: #f3f3f3;
}
.classify li a{
    padding: 0 15px;
    color: #555;
    text-decoration:none;
    position: relative;
}
.classify .hot{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    right: 5px;
    z-index: 9;
    background: url(images/h.gif) no-repeat;
}
.classify a:hover {
    color: #f04848;
    text-decoration: underline;
}
/* 排序 */
.sort {
    position: relative;
    height: 36px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 15px 0;
}
 a.active{
    border: 1px solid #000;
    color: #000;
    margin-top: -1px;
    transition: all .4s ease;
}
a.active:hover {
    border-color: #f04848;
}
.sort a{
    color: #000;
    position: relative;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-right: 1px solid #e5e5e5;
    padding: 0 25px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #f04848;
}
.sort-right {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    background-color: #fff;
}
.sort-right span {
    font-size: 14px;
    padding-right: 5px;
    display: block;
    float: left;
}
.red {
    color: #f04848 !important;
}
/* 商品展示 */
.goods-list{
    width: 246px;
    height: 365px;
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    padding: 0 12px;
    float: left;
}
.goods-list-img {
    position: relative;
    overflow: hidden;
    width: 236px;
    height: 236px;
    margin: 12px auto 0;
}
.goods-list-img a img {
    width: 236px;
    height: 236px;

}
.goods-list-title {
    height: 40px;
    line-height: 20px;
    margin-top: 8px;
    overflow: hidden;
    padding: 0 12px;
}
.goods-list-price {
    height: 21px;
    line-height: 21px;
    margin-top: 10px;
}
.goods-list-price b {
    font-size: 18px;
    color: #f04848;
}
.goods-list-sales {
    height: 21px;
    line-height: 21px;
    margin-top: 5px;
    margin-bottom: 10px;
}
 .goods-list-tag{
    background-color: #ff538a;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 3px;
    margin-right: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 1px;
}
.grey {
    color: #888 !important;
    float: right;
}
/* 商品页码 */
.page-size{
    width: 1090px;
    height: 30%;
    overflow: hidden;
    text-align: center;
    padding: 40px;
}
.page-size strong.active {
    border-color: #f04848;
    background-color: #f04848;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
}
.page-size a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
}
/* 右侧固定菜单 */
.right-bar{
    width: 64px;
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 99;
    margin-left: 560px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.right-bar a {
    display: block;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.right-bar a .iconfont {
    display: block;
    font-size: 22px;
    color: #8c8c8c;
}
/* 页面底部 */
.page-footer {
    height: 379px;
    border-top: 1px solid #d5d5d5;
}
.bottom-odds {
    /* display: block; */
    width: 1090px;
    height: 45px;
    padding: 35px 0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
}
.bottom-odds dl {
    width: 208px;
    height: 45px;
    float: left;
    /* display:block; */
    vertical-align: middle;
    text-align: center;
}
.bottom-odds dl dt .iconfont {
    font-size: 25px;
    color: #666;
    border: 2px solid #d5d5d5;
    padding: 5px;
    border-radius: 100%;
    float: left;
}
.bottom-odds dl dd strong {
    display: block;
    font-size: 16px;
    font-weight: 700;
  
}
.bottom-odds dl dd p {
    color: #666;
    margin-top: 5px;
    font-size: 13px;
   
}

/* 关于我们部分 */
.bottom-about{
    display: inline-block;
    width:1100px;
    height: 122px;
    padding: 25px 0;
}
.bottom-about-left{
    width: 280px;
    float: left;
}
.bottom-about-center{
    width: 640px;
    float: left;
}
.bottom-about-center dl{
    width: 160px;
    height: 122px;
    float: left;
}
.bottom-about-center dl dt {
    font-size: 15px;
    margin-bottom: 15px;
}
.bottom-about-center dl dd a {
    display: block;
    width: 120px;
    height: 29px;
    line-height: 29px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bottom-about-right{
    width: 150px;
    float: left;
}
/* 页脚底部 */
.bottom-copy {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    line-height: 25px;
    color: #c1c1c1;
}
.bottom-copy a{
    color: #c1c1c1;
}